
input{
  margin: 10px;
}
ul {
  display: block;
  list-style-type: none;
  overflow-y:scroll;
}

.list-item {
  /* position: relative; */
  display: flex;
  color: #f0f0f0;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125)!important;
  cursor: pointer;
}

li .dropdown {
  background: #ccc;
  margin: 10px;
}
.item-name {
  font-size: 14px;
  font-weight: 600;
  color: #464646;
}
img{
  vertical-align: middle;
}
.bank-img {
  height: 45%;
  width: 35%;
  padding-right: 2.5%;
}

.bank-content{
  width: 400px;
  border-radius: 2px;
  height: 500px;
  padding: 20px;
  overflow: auto;
}

