<mat-card>
  <div mat-card-title>Add Financial Institution</div>
  <form [formGroup]="form">
    <mat-form-field>
    <input matInput placeholder="Search for financial institution(min 3 characters)" formControlName="bank">
      <button mat-button matSuffix mat-icon-button (click)="clear()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <div class="bank-content">
    <ul *ngFor="let institution of institutions">
      <li class="list-item" (click)="selectedBank(institution)">
        <img class="bank-img" src="{{institution.logo}}" />
        <span class="item-name">{{institution.name}}</span>
      </li>
    </ul>
    </div>
  </form>
</mat-card>
