<mat-card>
  <form [formGroup]="form">
    <mat-card-content>
      <mat-form-field >
        <input matInput placeholder="First name" formControlName="first_name">
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Last name" formControlName="last_name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" email>
      </mat-form-field>
    </mat-card-content>
    <div class="button-wrapper">
    <button mat-stroked-button color="primary"  [disabled]="form.invalid" (click)="submit(form)">Register</button>
    </div>
  </form>
</mat-card>
