<div mat-dialog-content>
  <div mat-dialog-title>Provide Consent </div>
  <ul>
    <li *ngFor="let consent of messageTemplate">
      {{ getMessage(consent) }}
    </li>
    </ul>
  <mat-checkbox color="primary" (change)="sendUserConsent($event)"> By clicking "Share my data", I am instructing {{data.bank}} to allow this third party to access and retrieve my information.</mat-checkbox>
<div align="right">
  <button mat-button color="primary" (click)="launch()" [disabled]="!checked" >Share my data</button>
  <button mat-button color="primary" (click)="close()">Cancel</button>
</div>
</div>
